{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'quizes/add_quiz.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
add_quiz
{% endblock title %}

{% block content %}

<form action="" method="post" id="addForm">
    {% csrf_token %}

    <label for="num_of_question" class="form-label">Number of Questions</label>
    <input type="number" name="num_of_question" class="form-control" id="num_of_question" required>
    <label for="difficulty" class="form-label">Difficulty</label>
    <select name="difficulty" id="difficult" class="form-control">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="difficult">Difficult</option>
    </select>
    <label for="choices" class="form-label">Choices</label>
    <div class="dropdown" class="form-select ">
        <select name="cho" id="cho" class="form-control">
            {% for key,value in choices.items %}
            <option value="{{key}}" name="{{key}}">{{value}}</option>
            {% endfor %}
        </select>

    </div>
    <input type="submit" name="submit" id="submit" value="submit" class="btn btn-success"
        style="margin-top: 30px; width: 100%;">
</form>
<div id="que-ans"></div>

<form id="quiz-form" action="" class="mt-3 mb-3" class="not-visible">
    {% csrf_token %}
    <label for="nameofquiz" required class="goibibo not-visible form-label">Name of the quiz</label>
    <input type="text" name="nameofquiz" required class="goinp goibibo not-visible form-control">
    <label for="topic" required class="goibibo not-visible form-label">Topic</label>
    <input type="text" name="topic" required class=" goinp goibibo not-visible form-control">
    <label for="numberofquestion" required class="goibibo not-visible form-label">Number of question</label>
    <input type="text" required class="goinp goibibo not-visible form-control" name="numberofquestion">
    <label for="time" required class="goibibo not-visible form-label">Time</label>
    <input type="text" required class=" goinp goibibo not-visible form-control" name="time">
    <label for="reqscoretopass" required class="goibibo not-visible form-label">Required score to pass</label>
    <input type="text" required class=" goinp goibibo not-visible form-control" name="reqscoretopass">
    <label for="difficulty" required class="goibibo not-visible form-label">Difficulty</label>
    <select name="difficulty" required class="goinp goibibo not-visible form-control" id="">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="difficult">Difficult</option>
    </select>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Question-4th option should be right</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="modal-form">
                        <label for="addquestion">Add Question</label>
                        <input type="text" id="addquestion">
                        <br><br>
                        <label for="op1">Option 1</label>&nbsp;&nbsp;&nbsp;<input type="text" id="op1" class="op">
                        <br><br><br>
                        <label for="op2">Option 2</label>&nbsp;&nbsp;&nbsp;<input type="text" id="op2" class="op">
                        <br><br><br>
                        <label for="op3">Option 3</label>&nbsp;&nbsp;&nbsp;<input type="text" id="op3" class="op">
                        <br><br><br>
                        <label for="op4">Option 4</label>&nbsp;&nbsp;&nbsp;<input type="text" id="op4" class="opcor">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-modal-form" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div id="quiz-box"></div>
    <button type="button" class="btn btn-warning not-visible" id="modbtn" data-bs-toggle="modal"
        data-bs-target="#exampleModal" style="width: 100%;">
        Add custom question &spades;
    </button>
    <br>

    <br>
    <input type="submit"  value="save" class="btn form-label btn-primary mt-3 goibibo not-visible" id="savebtn"></input>

</form>


{% endblock content %}